a {
	text-decoration: none;
	color: #3A4145;
	border-bottom: 1.8px solid #F69FB0;
}

a:hover {
	color: black;
	text-decoration: none;
	border-bottom: 1.8px solid #F17994;
}

a:visited {
	color: #3A4145;
}

a.nav-link {
	margin-right: 4px;
	padding-bottom: 6px;
}

#article-date {
	font-weight: bold;
}

#back-arrow {
    position: relative;
    top: 28px;
    left: -68px;
}

.btn {
	color: white;
	font-weight: bold;
	border: 2px solid #F69FB0; 
	background-color: #F69FB0;
}

.btn:active, .btn:focus {
	color: white;
	border: 2px solid #F69FB0;
	background-color: #F69FB0;
	box-shadow: none;
}

.btn:hover {
	color: white;
	border: 2px solid #F17994;
	background-color: #F17994;
	box-shadow: none;
}

/*This is to make sure the main container is always 600px*/
@media only screen and (min-width: 1200px) {
    .container{
        max-width: 600px;
    }
}

.form-control:focus {
    outline-width: 0;
    border-color: #CBFFE6;
    box-shadow: 0 0 0 2px #CBFFE6;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*To remove, unused*/
#main { 
	margin: auto;
	padding: 15px;
}

.post-date {
	margin-top: auto;
	margin-bottom: auto;
	text-align: right;
	text-transform: uppercase;
    font-size: small;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 750px) {
    .post-date {
        text-align: left;
    }
}

.post-title {
	margin-top: 5px;
    display: inline-block;
    font-size: large;
    text-decoration: none;
    color: #3A4145;
}

@media only screen and (max-width: 750px) {
    .post-title {
        margin-bottom: 30px;
    }
}

/*

white: white;
pink: FFCFEA;
pink ligher: FAC8D3
pink strong F69FB0;
pink even strong: F17994;
mint: CBFFE6;
grey: 3A4145;

old orange: #F49253;

*/